/* There could be many stylesheets in your project, 
but usually there's a 'main.css' that combines them */
/* Global styles for everything ever (unless it gets overridden) */
* {
  font-family: 'Josefin Sans', sans-serif;
}

/* styling all instances of a tag */
body {
  
}

h1 {
  color: black;
  text-align: center;
}

img {
  width: 100%;
}

/* styling a class */
.info-block {
  padding: 10px;
  margin: 10px;
  color: grey;
}

/* styling an id */
#my-tall-image-container {
  width: 100%;
  max-width: 1100px;
  min-width: 500px;
  margin: 20px auto;
  padding: 20px;
}

.a-tall-image {
  float: left;
  width: 40%;
  margin: 0 5%;
}

#my-lil-image-container {
  width: 100%;
  max-width: 1100px;
  min-width: 500px;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;  
}

.an-image {
  float: left;
  width: 25%;
  margin: 0 2%;
}
/* styling all instances of a tag that are nested in a div with given id */


@media (max-width: 600px) {
  #my-tall-image-container {
    display: none;
  }
  
  .an-image {
    float: none;
  }
}
